
body {
  background-size: cover;
  font-weight: 500;
  background-image: url(physics_back.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: none;
}

img{
  float: right;
  width: 260px;
  padding: 20px;
}

.teller{
  font-weight: 800;
}
.teller:hover{
  color: red;
}

.italic{
  font-style: italic;
}

p {
  margin: 5px;
  text-indent: 15px;
  line-height: 140%;
  text-align: justify;
  
}

#tartalom {
  background-color: rgba(200, 200, 200, 0.85);
  border-radius: 30px;
  width: 60%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-style: italic;
}

table {
  width: 50%;
  margin: auto;
}

ul {
  list-style-image: url(physics_icon.png);
  border-bottom: 1px gray;
  padding: 10px;
}

th{
  background-color: gray;
  color: white;
  text-align: center;
}

td{
  text-align: center;
}
